USE [QuoteDB]
GO
/****** Object:  Table [dbo].[QuoteBackup]    Script Date: 31-10-2018 13:22:56 ******/
DROP TABLE [dbo].[QuoteBackup]
GO
/****** Object:  Table [dbo].[QuoteBackup]    Script Date: 31-10-2018 13:22:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuoteBackup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](4000) NOT NULL,
	[Author] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[QuoteBackup] ON 

INSERT [dbo].[QuoteBackup] ([Id], [Title], [Author]) VALUES (1, N'Life isn’t about getting and having, it’s about giving and being.', N'Kevin Kruse')
INSERT [dbo].[QuoteBackup] ([Id], [Title], [Author]) VALUES (2, N'Whatever the mind of man can conceive and believe, it can achieve.', N'Napoleon Hill')
INSERT [dbo].[QuoteBackup] ([Id], [Title], [Author]) VALUES (3, N'Strive not to be a success, but rather to be of value.', N'Albert Einstein')
GO
SET IDENTITY_INSERT [dbo].[QuoteBackup] OFF
